{% extends "main/base.html" %}
{% block content %}
<head>

 <style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #d6d6d6;
    background: #15191c;
  }

  .content {
    width: 80%;
    height: 10%;
  }
</style>


</head>

<body>
<h1>Stock Analysis</h1>


 <table class="content">
  <th>
  {% autoescape off %}

   {{returns}}
      {{graph}}


  {% endautoescape %}
  </th>

 </table>
</body>


{% endblock %}