{% extends "main/base.html" %}
{% block content %}
<head>

 <style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #d6d6d6;
    background: #15191c;
  }

  .content {
    width: 100%;
    height: 10%;
  }
</style>
<script>
    function getQueryVariable(variable)
{
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++)
  {
    var pair = vars[i].split("=");
    if (pair[0] == variable)
    {
      return pair[1];
    }
  }
  return -1; //not found
}


</script>
</head>

<body>
<h1>Stock Analysis</h1>

  <form action="/plot"  method="get" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <select id="year" name="year" value="2001">
        <script>
            for (var i = 2000; i <= 2021; i++){
                if (i == getQueryVariable("year")){
                    document.write('<option value="'+i+'" selected>'+i+'</option>');
                    }
                else {
                    document.write('<option value="'+i+'">'+i+'</option>');
                }
            }
        </script>
    </select>
  <input type="submit"value="Show"/>

<!-- SWITCHES-->
<div class="form-check form-switch" align="left">
  <input class="form-check-input graphswitch" type="checkbox" id="graphcheckbox" checked /> graph<br>
  <input class="form-check-input graphswitch" type="checkbox" id="returnscheckbox" checked/>returns<br>
  <input class="form-check-input graphswitch" type="checkbox" id="MACDcheckbox" />MACD<br>
  <input class="form-check-input graphswitch" type="checkbox" id="RSIcheckbox" />RSI<br>
  <input class="form-check-input graphswitch" type="checkbox" id="ARIMAcheckbox" />ARIMA<br>

  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>

<!-- GRAPHS -->
 <table class="content">
  <th>
  {% autoescape off %}

      <div id="graph">
      {{graph}}
      </div>
      <div id="returns">
      {{returns}}
      </div>
      <div id="ARIMA">
      {{ARIMA}}

         <input type="range" min="1" max="238" value="237" style="width:90%; text-align:center;" id="date" name="date">

         <input type="submit"value="Show"/>
       </form>

      </div>
      <div id="MACD">
      {{MACD}}
      </div>
      <div id="RSI">
      {{RSI}}
      </div>


  {% endautoescape %}
  </th>

 </table>
</body>


{% endblock %}