{% extends "main/base.html" %}
{% block content %}
<head>

 <style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #d6d6d6;
    background: #15191c;
  }

  .content {
    width: 100%;
    height: 10%;
  }
</style>

<script>
  $(document).ready(function(){
    document.getElementById("ticker").outerHTML=document.getElementById("ticker").outerHTML.replace('enter ticker', "{{ ticker }}")});

</script>

</head>

<body>


<!-- SWITCHES-->
<div class="form-check form-switch" align="left">
  <input class="form-check-input graphswitch" type="checkbox" id="graphcheckbox" checked /> graph<br>
  <input class="form-check-input graphswitch" type="checkbox" id="returnscheckbox" checked/>returns<br>
  <input class="form-check-input graphswitch" type="checkbox" id="MACDcheckbox" />MACD<br>
  <input class="form-check-input graphswitch" type="checkbox" id="RSIcheckbox" />RSI<br>


  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>

<!-- GRAPHS -->
 <table class="content">
  <th>
      <h1>{{ticker}}</h1>
  {% autoescape off %}

      <div id="graph">
      {{graph}}
      </div>
      <div id="returns">
      {{returns}}
      </div>

      <div id="MACD">
      {{MACD}}
      </div>
      <div id="RSI">
      {{RSI}}
      </div>

  {% endautoescape %}
  </th>

 </table>
</body>


{% endblock %}